<!-- Angular two way data binding-->
<input [(ngModel)]="data" (keydown)="keyDownHandler($event)">
<!--Read data, means read from model and show in UI. view-->
<!--Write data, means write from view to model, TS-->

<input #inputSample [value]=demoData (keydown)="inputKeyDownHandler(inputSample.value)">


<div class="top-menu">

    <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="courses">

    <course-card *ngFor="let course of courses; let i = index;" [courseObj]=course [courseIndex]="i"
        (courseSelected)="onCardClicked($event)">
    </course-card>
   

</div>